//
// _card.scss
//
@use "../config/variables" as *;
@use "../config/theme-config" as *;



@layer components {

    .card {
        @apply bg-white dark:bg-gray-800 shadow rounded-md h-fit;

        .card-header {
            @apply py-3 px-6 border-b border-gray-200 dark:border-gray-700;
        }
    }    

    .card-title {
        @apply text-base font-medium text-slate-900 dark:text-slate-200;
    }
}